<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ForminputImage" class="form-label">Picture</label>
                                <input type="file" class="form-control" id="ForminputImage" accept="image/*" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="firstNameinput" class="form-label">No</label>
                                <textarea class="form-control" id="taskInput" rows="3"></textarea>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastNameinput" class="form-label">Task Activity</label>
                                <textarea class="form-control" id="taskInput" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Type Of Order</label>
                                <input type="text" class="form-control" 
                                    id="equipment">
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="descriptionInput" class="form-label">Periode</label>
                                <textarea class="form-control" id="taskInput" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Standart</label>
                                <textarea class="form-control" id="taskInput" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">PIC</label>
                                <textarea class="form-control" id="taskInput" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ForminputDate" class="form-label">Date</label>
                                <input type="date" class="form-control" id="ForminputDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Remark</label>
                                <input type="tel" class="form-control" id="taskInput">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-end">
                                <button type="submit" class="btn btn-success me-2"
                                    style="margin-right: 8px;">Submit</button>
                                <button (click)="forBack()" class="btn btn-danger me-2">Back</button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>