<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="live-preview">
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="firstNameinput" class="form-label">No</label>
                                <input type="text" class="form-control"
                                    id="functionLocation">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ForminputDate" class="form-label">Date</label>
                                <input type="date" class="form-control" id="ForminputDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="lastNameinput" class="form-label">Issue</label>
                                <input type="text" class="form-control" 
                                    id="equipment">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Area</label>
                                <input type="text" class="form-control" 
                                    id="equipment">
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="descriptionInput" class="form-label">Machine</label>
                                <input type="text" class="form-control" 
                                    id="equipment">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Name Plate/ Speck</label>
                                <input type="tel" class="form-control" id="picInput">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Priority</label>
                                <input type="tel" class="form-control" id="picInput">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Report By</label>
                                <input type="tel" class="form-control" id="quantityInput">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ForminputImage" class="form-label">Picture Before</label>
                                <input type="file" class="form-control" id="ForminputImage" accept="image/*" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">PIC</label>
                                <input type="tel" class="form-control" id="statuspartInput">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ForminputDate" class="form-label">Description</label>
                                <input type="date" class="form-control" id="ForminputDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Verivication</label>
                                <input type="tel" class="form-control" id="taskInput">
                            </div>
                        </div>                                               
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Status</label>
                                <input type="tel" class="form-control" id="taskInput">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ForminputDate" class="form-label">Due Date</label>
                                <input type="date" class="form-control" id="ForminputDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="taskInput" class="form-label">Remark</label>
                                <input type="tel" class="form-control" id="taskInput">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ForminputImage" class="form-label">Evidance</label>
                                <input type="file" class="form-control" id="ForminputImage" accept="image/*" >
                            </div>
                        </div> 
                        <div class="col-lg-12">
                            <div class="text-end">
                                <button type="submit" class="btn btn-success me-2"
                                    style="margin-right: 8px;">Submit</button>
                                <button (click)="forBack()" class="btn btn-danger me-2">Back</button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>