<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<div class="layout-wrapper landing"
    style="background-image: url('../../../assets/images/bg_landing.png'); background-size: cover; height: 100vh;">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top" id="navbar" (window:scroll)="windowScroll()"
        *ngIf="!isNavbarHidden">
        <div class="container">
            <a class="navbar-brand">
                <img src="../../../assets//images/AIO-PS-whte.png" height="30" width="auto">
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" (click)="toggleMenu()">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'hero'}"
                            href="javascript:void(0);">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'services'}"
                            href="javascript:void(0);">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'features'}"
                            href="javascript:void(0);">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'plans'}"
                            href="javascript:void(0);">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'reviews'}"
                            href="javascript:void(0);">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'team'}"
                            href="javascript:void(0);">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active':currentSection === 'contact'}"
                            href="javascript:void(0);">Contact</a>
                    </li>
                </ul>

                <div class="login">
                    <a routerLink="/auth/login" class="button-login fw-bold text-white text-montserrat"
                        style="font-size: 20px;">Login</a>
                </div>
            </div>

        </div>
    </nav>
    <!-- end navbar -->

    <!-- start hero section -->
    <section class="section pb-0 hero-section" >  
        <div class="container" >
            <div class="row">
                <div class="d-flex mt-lg-5 pt-5 row">
                    <div class="col-md-6">
                        <div class="ms-5">
                            <h1 class="fw-bold text-white text-montserrat" style="font-size: 40px;">Welcome to</h1>
                            <h1 class="fw-extrabold text-white text-montserrat" style="font-size: 70px;">AIO-PS</h1>
                            <p class="lead text-muted lh-base"></p>
                            <div class="d-flex gap-2 mt-4">
                                <a routerLink="/signup/basic" class="btn btn-primary">Get Started <i
                                        class="ri-arrow-right-line align-middle ms-1"></i></a>
                                <a routerLink="/pages/pricing" class="btn btn-danger">View Plans <i
                                        class="ri-eye-line align-middle ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/images/actor.png" style="width: 400px; height: auto;" alt="...">
                    </div>
                </div>
                <div class="card no-border-card" style="margin-top: 135px; background-color: white; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                    <div class="img-container mt-3" style="margin-left: 20px;">
                        <img src="../../../assets/images/AIO-PS-primary.png" class="card-img-top" alt="AIO-PS">
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="color: #000000; font-size: 1rem; line-height: 1.5;">
                            AIO Production System merupakan platform yang dirancang untuk memberikan kenyamanan dan kemudahan bagi para karyawan dalam menjalani aktivitas sehari-hari di lingkungan perusahaan. 
                            Dengan berbagai fitur yang disediakan, website ini bertujuan untuk mempermudah akses dan pengelolaan berbagai informasi serta layanan yang relevan dengan kegiatan operasional dan kesejahteraan karyawan.
                            <br><br>
                            Fitur-fitur yang ada dalam website ini mencakup:
                            <ul style="list-style-type: disc; margin-left: 20px;">
                                <li>Production</li>
                                <li>Maintenance</li>
                                <li>Human Capital Department (HCD)</li>
                                <li>Yayasan Kesejahteraan Karyawan (YKK)</li>
                            </ul>
                            Dengan demikian, AIO-PS menjadi sebuah platform komprehensif yang menyatukan berbagai informasi penting dan layanan yang memudahkan karyawan dalam menjalani aktivitas sehari-hari.
                    </div>
                </div>                
                <div class="container d-flex justify-content-center">
                    <div class="d-flex flex-wrap">
                        <div class="card shadow-card p-3 no-border-card"
                            style="width: 200px; max-width: 100%; margin-top: 50px; margin-right: 20px;">
                            <img src="../../../assets/images/comingsoon.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center mt-2 fw-bold" style="font-size: 20px;">Production</p>
                            </div>
                        </div>
                        <div class="card shadow-card p-3 no-border-card"
                            style="width: 200px; max-width: 100%; margin-top: 50px; margin-right: 20px;">
                            <img src="../../../assets/images/maintenance.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center mt-2 fw-bold" style="font-size: 20px;">Maintenance</p>
                            </div>
                        </div>
                        <div class="card shadow-card p-3 no-border-card"
                            style="width: 200px; max-width: 100%; margin-top: 50px; margin-right: 20px;">
                            <img src="../../../assets/images/comingsoon.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center mt-2 fw-bold" style="font-size: 20px;">HCD</p>
                            </div>
                        </div>
                        <div class="card shadow-card p-3 no-border-card"
                            style="width: 200px; max-width: 100%; margin-top: 50px; margin-right: 20px;">
                            <img src="../../../assets/images/maintenance.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text text-center mt-2 fw-bold" style="font-size: 20px;">YKK</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card no-border-card">
                    <img src="path-to-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
                <div class="card no-border-card">
                    <img src="path-to-image.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                    </div>
                </div>
                <div class="mt-4 mt-sm-5 pt-sm-5 mb-sm-n5 demo-carousel">
                    <div class="carousel">
                        <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                            [showNavigationIndicators]="showNavigationIndicators"
                            class="carousel-inner shadow-lg p-2 bg-white rounded">
                            <ng-template ngbSlide>
                                <img src="assets/images/demos/default.png" class="d-block w-100" alt="...">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/demos/saas.png" class="d-block w-100" alt="...">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/demos/material.png" class="d-block w-100" alt="...">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/demos/minimal.png" class="d-block w-100" alt="...">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/demos/creative.png" class="d-block w-100" alt="...">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/demos/modern.png" class="d-block w-100" alt="...">
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="assets/images/demos/interactive.png" class="d-block w-100" alt="...">
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <div class="card mt-4 no-border-card">
                <img src="path-to-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                </div>
            </div>
        </div>
        <section class="section bg-light" id="team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center mb-5">
                            <h3 class="mb-3 fw-semibold">Our Team</h3>
                            <p class="text-muted mb-4 ff-secondary">To achieve this, it would be necessary to have
                                uniform grammar,
                                pronunciation and more common words. If several languages coalesce the grammar.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-3 col-sm-6" *ngFor="let data of Teams">
                        <div class="card">
                            <div class="card-body text-center p-4">
                                <div class="avatar-xl mx-auto mb-4 position-relative">
                                    <img src="{{data.image}}" alt="" class="img-fluid rounded-circle">
                                    <a href="/mailbox"
                                        class="btn btn-success btn-sm position-absolute bottom-0 end-0 rounded-circle avatar-xs">
                                        <div class="avatar-title bg-transparent">
                                            <i class="ri-mail-fill align-bottom"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- end card body -->
                                <h5 class="mb-1"><a href="/pages/profile" class="text-body">{{data.name}}</a></h5>
                                <p class="text-muted mb-0 ff-secondary">{{data.position}}</p>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-2">
                            <a href="/pages/team" class="btn btn-primary">View All Members <i
                                    class="ri-arrow-right-line ms-1 align-bottom"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <footer class="text-center text-lg-start text-white" style="background-color: #011D4A">
            <!-- Grid container -->
            <div class="container p-2 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">
                                CANPET
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                                molestias. Fugiat pariatur maxime quis culpa
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">Products</h6>
                            <p>
                                <a class="text-white">MDBootstrap</a>
                            </p>
                            <p>
                                <a class="text-white">MDWordPress</a>
                            </p>
                            <p>
                                <a class="text-white">Bootstrap Angular</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold white-text">Follow us</h6>

                            <!-- Facebook -->
                            <a class="btn btn-primary m-2" style="background-color: #0082ca; border: none;" href="#!"
                                role="button"><i class="fab fa-linkedin-in"></i></a>
                            <!-- Twitter -->
                            <a class="btn btn-primary m-2" style="background-color: #55acee; border: none;" href="#!"
                                role="button"><i class="fab fa-twitter"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-primary m-2" style="background-color: #ff0000; border: none;" href="#!"
                                role="button"><i class="fab fa-instagram"></i></a>

                            <!-- Github -->
                            <a class="btn btn-primary m-2" style="background-color: #25d366; border: none;" href="#!"
                                role="button"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <!-- End of .container -->
        <!-- end container -->
        <div class="position-absolute start-0 end-0 bottom-0 hero-shape-svg">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <g mask="url(&quot;#SvgjsMask1003&quot;)" fill="none">
                    <path d="M 0,118 C 288,98.6 1152,40.4 1440,21L1440 140L0 140z">
                    </path>
                </g>
            </svg>
        </div>
        <!-- end shape -->
    </section>
    <!-- end hero section -->
    <!--start back-to-top-->
    <button (click)="topFunction()" class="btn btn-danger btn-icon landing-back-top" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>